@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao App Fluxo de Caixa</h1>
    <p class="lead">Projeto desenvolvido com ASP.NET Core 8 e Bootstrap 5.3</p>
</div>
