@model AppFluxoDeCaixa.Models.Fornecedor

@{
    ViewData["Title"] = "Adicionar Fornecedor";
}

<h1 class="display-5 text-light text-center"> @ViewData["Title"]</h1>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="row">
            <div class="col-12 col-md-8 mt-2">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md mt-2">

                <div class="form-group">
                    <label asp-for="CNPJ" class="control-label"></label>
                    <input asp-for="CNPJ" class="form-control" />
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-md">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md">
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" asp-for="DataCadastro" class="form-control" value=@DateTime.Now.ToString(" yyyy-MM-dd hh:mm:ss") />
        </div>


        <div class="form-group">
            <input type="hidden" asp-for="Ativo" value="true" />
        </div>
        <div class="row">
            <div class="col col-md-4 mt-4">
                <a class="btn btn-outline-danger w-100" asp-action="Index">Cancelar</a>
            </div>

            <div class="col-2 col-md mt-4">
            </div>
            <div class="col col-md-4 mt-4">
                <input type="submit" value="Salvar" class="btn btn-success w-100" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
