@model AppFluxoDeCaixa.Models.Fornecedor

@{
    ViewData["Title"] = "Editar Fornecedor";
}

<h1 class="display-5 text-light text-center">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FornecedorId" />
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-8 mt-2">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md mt-2">

                    <div class="form-group">
                        <label asp-for="CNPJ" class="control-label"></label>
                        <input asp-for="CNPJ" class="form-control" />
                        <span asp-validation-for="CNPJ" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-md">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md">
                    <div class="form-group">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" class="form-control" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md mt-2">
                <div class="form-group">
                    <label asp-for="DataCadastro" class="control-label"></label>
                    <input readonly="readonly" asp-for="DataCadastro" class="form-control" />
                    <span asp-validation-for="DataCadastro" class="text-danger"></span>
                </div>
            </div>


            <div class="col-12 col-md-1 mt-2">
                <label class="text-end">Ativo?</label>
                <div class="form-check form-switch form-control-lg">
                    <input class="form-check-input" type="checkbox" role="switch" asp-for="Ativo" />
                </div>
            </div>
            <div class="row">
                <div class="col-2 col-md mt-4">
                    <a class="btn btn-outline-secondary w-100" asp-action="Index">Voltar</a>
                </div>
                <div class="col-4"></div>
                <div class="col col-md-4 mt-4">
                    <input type="submit" value="Salvar" class="btn btn-success w-100" />
                </div>

            </div>
            </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
